*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Helvetica Neue",Helvetica,;
    scroll-behavior:smooth;
}
body{
    background-color: #fff;
    margin: 0px 30px ;
    box-shadow: 5px 7px 7px 5px rgba(141, 143, 143, 0.2);
   
}
img{
    max-width: 100%;
    max-height: 100%;
}
.bold-text{
    font-weight: bold;
}
a{
    padding: 5px;
    text-decoration: none;
    color: Orange;
}
.center-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-text{
   text-align: end;
}
.text-center{
    justify-content: center !important;
    align-items: center !important;
}

div#header{
    background: white;
    height: 46px;
    box-sizing: border-box;
    box-shadow: 7px 8px 7px rgb(141 143 143 / 20%);

}
div#header\ {
    box-shadow: 7px 8px 7px rgb(141 143 143 / 20%);
}
.header-container{
    margin: 10px;
    padding:10px;
}

.phone, .call{
    color: red;
    font-weight: bold;
}
.header-bar-content{
    opacity: 0.5;
    font-style: italic;
}
.header-icon h1{

    line-height: 30px;
    color: orange;
    margin-bottom: 0;
}
.header-icon{
    height: 50px;
    box-sizing: border-box;
}
#slider{
    margin: 56px 36px;
    height: 400px;
}
.slider-container{
   
}
.slider-content h1{
    margin-bottom: 20px;
}
.slider-content p{
   
    
}
#slider btn-slider{
    display: block;
}
.slider-btn>p{
    display: inline-block;
    text-align: center;
}

#slider .slider-btn .row{
    padding: 10px;
}
.slider-btn .btn-purchase{ 

    padding: 5px 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: none;
    background: orange;
    color: rgb(123, 100, 160);
    cursor: pointer;
    margin-right: -32px;;
}
.slider-btn .btn-take{ 
    
    padding: 5px 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: none;
    background: rgba(136, 133, 133, 0.699);
    color: rgb(63, 60, 60);
    cursor: pointer;
    margin-left: -32px;
}
.slider-btn>div{
    text-align: center;
    

}
.slider-btn>row>div{
    justify-content: space-between;
}

#content{
    margin: 56px 36px;
}
#feature{
    margin: 56px 36px;
}
#screenshot-container{
    margin: 20px 40px;
}
.grid-container{
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0px;
    margin: 2px 8px; 
    font-size: 30px;
  }
  
    
  #feedback .feedback-content{
      margin-bottom: 10px;
  }
  #feedback .feedback-content>p {
      margin: 20px 40px 40px;
      text-align: center;
      box-shadow: 7px 8px 7px rgba(141, 143, 143, 0.2);
  }

  #footer {

      background-color: rgba(59, 56, 56, 0.979);
      color: white;
      margin: 30px -46px 0;
      display:fixed;
      /* padding: 30px 30px 0 ; */

  }
  .footer-detail{
      margin-left: 10px;
  }
  .footer-detail .text-detail{
     opacity: 0.6;
  }
  .footer-container{
    margin: 30px 0 0;
    padding-top: 20px;
  
  }
  #footer .copyright{   
    background-color: black;
    align-items: center;
  }
  #footer .copyright .icon{
      text-align: end;
      line-height: 56px;
  }
  .copyright .copyright-text{
      align-items: center;
  }
  .copyright .copyright-text p{
      line-height: 56px;
      margin-bottom:0;
      margin-left: 12px;
  }
  #screenshot{
    margin: 56px 36px;
  }
  #feedback{
    margin: 56px 36px;
  }
